
body{

}

.navbar{
   z-index: 10;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
}
.row{
   margin: 0;
}

.home-container{
   background-image: url(http://www.transparenttextures.com/patterns/vintage-speckles.png);

   padding-top: 100px;
}
.btn{

   position: relative;
   &:hover{
      top: 2px;
   }
}

.thumbnail{
   img{
      border-radius: 50%;
   }
}
